In [1]:
import pandas as pd

In [14]:
import mysql.connector as sql

db_connection = sql.connect(host='127.0.0.1', database='export_master')
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM item')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)

ImportError: No module named 'mysql'

In [12]:
import pyodbc
import pandas.io.sql as psql

cnxn = pyodbc.connect(host='127.0.0.1', database='export_master') 
cursor = cnxn.cursor()
sql = "SELECT * FROM item"

df = psql.frame_query(sql, cnxn)
cnxn.close()

ImportError: dlopen(/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pyodbc.cpython-35m-darwin.so, 2): Library not loaded: /usr/local/opt/unixodbc/lib/libodbc.2.dylib
  Referenced from: /Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pyodbc.cpython-35m-darwin.so
  Reason: image not found